In [67]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import numpy as np

%matplotlib inline

In [172]:
census_2018 = pd.read_csv("../data/census_2018_clean.csv")
census_2018

,Geography,Avg_Wkly_Wage_Q1,Avg_Wkly_Wage_Q2,Avg_Wkly_Wage_Q3,Avg_Wkly_Wage_Q4,Total_Year_Wage,Geo_Loc
0,Alabama,921,881,885,960,43764,NaN
1,"Autauga County, Alabama",763,709,726,756,35448,NaN
2,"Baldwin County, Alabama",684,690,696,760,33960,NaN
3,"Barbour County, Alabama",718,729,714,777,35256,NaN
4,"Bibb County, Alabama",747,742,751,842,36984,NaN
...,...,...,...,...,...,...,...
3314,"Vieques Municipio, Puerto Rico",446,505,502,555,24096,NaN
3315,"Villalba Municipio, Puerto Rico",503,424,496,530,23436,NaN
3316,"Yabucoa Municipio, Puerto Rico",399,513,587,558,24684,NaN
3317,"Yauco Municipio, Puerto Rico",390,391,392,435,19296,NaN
3318,"Unknown Or Undefined, Puerto Rico","1,037",377,383,419,26592,NaN

In [171]:
census_2019 = pd.read_csv("../data/census_2019_clean.csv")
census_2019

,Geography,Avg_Wkly_Wage_Q1,Avg_Wkly_Wage_Q2,Avg_Wkly_Wage_Q3,Avg_Wkly_Wage_Q4,Total_Year_Wage,Geo_Loc
0,Alabama,944,910,919,984,45084,NaN
1,"Autauga County, Alabama",802,740,765,797,37248,NaN
2,"Baldwin County, Alabama",715,719,728,783,35340,NaN
3,"Barbour County, Alabama",727,700,703,745,34500,NaN
4,"Bibb County, Alabama",777,808,814,903,39624,NaN
...,...,...,...,...,...,...,...
3317,"Vieques Municipio, Puerto Rico",471,415,380,410,20112,NaN
3318,"Villalba Municipio, Puerto Rico",457,501,559,554,24852,NaN
3319,"Yabucoa Municipio, Puerto Rico",393,380,383,422,18936,NaN
3320,"Yauco Municipio, Puerto Rico",388,372,382,421,18756,NaN
3321,"Unknown Or Undefined, Puerto Rico",972,"1,004",911,913,45600,NaN

In [173]:
census_2020 = pd.read_csv("../data/census_2020_clean.csv")
census_2020

                             Geography Average_Weekly_Wage  Geo_loc
0                              Alabama                 966      NaN
1              Autauga County, Alabama                 837      NaN
2              Baldwin County, Alabama                 723      NaN
3              Barbour County, Alabama                 737      NaN
4                 Bibb County, Alabama                 916      NaN
...                                ...                 ...      ...
3288  Vega Baja Municipio, Puerto Rico                 528      NaN
3289    Vieques Municipio, Puerto Rico                 344      NaN
3290   Villalba Municipio, Puerto Rico                 489      NaN
3291    Yabucoa Municipio, Puerto Rico                 366      NaN
3292      Yauco Municipio, Puerto Rico                 355      NaN

[3293 rows x 3 columns]