In [63]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import numpy as np

%matplotlib inline

In [64]:
census_2018 = Path("../data/census_2018_clean.csv")
census_2018_df = pd.read_csv(
    census_2018,
    index_col = "Geography"
)
census_2018_df.head()

,Avg_Wkly_Wage_Q1,Avg_Wkly_Wage_Q2,Avg_Wkly_Wage_Q3,Avg_Wkly_Wage_Q4,Total_Year_Wage,Geo_Loc
Geography,,,,,,
Alabama,921,881,885,960,43764,NaN
"Autauga County, Alabama",763,709,726,756,35448,NaN
"Baldwin County, Alabama",684,690,696,760,33960,NaN
"Barbour County, Alabama",718,729,714,777,35256,NaN
"Bibb County, Alabama",747,742,751,842,36984,NaN

In [65]:
census_2019 = Path("../data/census_2019_clean.csv")
census_2019_df = pd.read_csv(
    census_2019,
    index_col = "Geography"
)
census_2019_df.head()

,Avg_Wkly_Wage_Q1,Avg_Wkly_Wage_Q2,Avg_Wkly_Wage_Q3,Avg_Wkly_Wage_Q4,Total_Year_Wage,Geo_Loc
Geography,,,,,,
Alabama,944,910,919,984,45084,NaN
"Autauga County, Alabama",802,740,765,797,37248,NaN
"Baldwin County, Alabama",715,719,728,783,35340,NaN
"Barbour County, Alabama",727,700,703,745,34500,NaN
"Bibb County, Alabama",777,808,814,903,39624,NaN

In [66]:
census_2020 = Path("../data/census_2020_clean.csv")
census_2020_df = pd.read_csv(
    census_2020,
    index_col = "Geography"
)
census_2020_df.drop(columns = ["Geo_loc"], inplace=True)
census_2020_df.head()

                        Average_Weekly_Wage
Geography
Alabama                                 966
Autauga County, Alabama                 837
Baldwin County, Alabama                 723
Barbour County, Alabama                 737
Bibb County, Alabama                    916

In [67]:
census_2020_df['Average_Weekly_Wage'] = census_2020_df['Average_Weekly_Wage'].str.replace(",", "")
census_2020_df['Average_Weekly_Wage'] = census_2020_df['Average_Weekly_Wage'].astype('float64')

census_2019_df['Total_Year_Wage'] = census_2019_df['Total_Year_Wage'].astype('float64')

census_2018_df['Total_Year_Wage'] = census_2018_df['Total_Year_Wage'].astype('float64')

In [68]:
census_2020_df.dtypes

Average_Weekly_Wage    float64
dtype: object

In [69]:
columns = ["2020_Year_Wage"]
census_2020_df = census_2020_df.mul(52)

In [70]:
census_2020_df.columns = columns

In [71]:
census_2019_df.drop(columns = ["Avg_Wkly_Wage_Q1", "Avg_Wkly_Wage_Q2", "Avg_Wkly_Wage_Q3", "Avg_Wkly_Wage_Q4","Geo_Loc"], inplace=True)
census_2018_df.drop(columns = ["Avg_Wkly_Wage_Q1", "Avg_Wkly_Wage_Q2", "Avg_Wkly_Wage_Q3", "Avg_Wkly_Wage_Q4","Geo_Loc"], inplace=True)

In [72]:
census_2018_df.columns = ["2018_Year_Wage"]
census_2019_df.columns = ["2019_Year_Wage"]

In [73]:
census_1819_df = pd.merge(census_2019_df, census_2018_df, left_index = True, right_index = True)
census_1819_df.head()

                                  2019_Year_Wage  2018_Year_Wage
Geography
Abbeville County, South Carolina         36660.0         39108.0
Acadia Parish, Louisiana                 33360.0         41316.0
Accomack County, Virginia                36720.0         48912.0
Ada County, Idaho                        47952.0         41184.0
Adair County, Iowa                       35436.0         40716.0

In [74]:
con_census_df = pd.merge(census_2020_df, census_1819_df, left_index = True, right_index = True)
con_census_df.head()

,2020_Year_Wage,2019_Year_Wage,2018_Year_Wage
Geography,,,
"Abbeville County, South Carolina",38116.0,36660.0,39108.0
"Acadia Parish, Louisiana",35672.0,33360.0,41316.0
"Accomack County, Virginia",39728.0,36720.0,48912.0
"Ada County, Idaho",53040.0,47952.0,41184.0
"Adair County, Iowa",38220.0,35436.0,40716.0

In [75]:
con_census_df.to_csv("../data/cleandata/3y_yearly_income.csv")

In [77]:
final_census_df = con_census_df.loc(["Los Angeles County, California", "San Francisco County, California", "Ventura County, California", "Larimer County, Colorado", "Fulton County, Georgia", "Bonneville County, Idaho", "Johnson County, Kansas", "Wyandotte County, Kansas", "Lafayette Parish, Louisiana", "Wilson County, North Carolina", "Bronx County, New York", "Kings County, New York", "New York County, New York", "Queens County, New York", "Richmond County, New York", "Cuyahoga County, Ohio", "King County, Washington"])
final_census_df

TypeError: unhashable type: 'list'